*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
i {
  margin: 0 7px;
}
.btn.btn-primary {
  background-color: #f65b5b;
  border: none;
  border-radius: 50px;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  font-weight: 700;
}
.btn.btn-secondary {
  background-color: #efefef;
  color: rgb(29, 24, 43);
  border: none;
  border-radius: 50px;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  font-weight: 700;
}
